.dicas,
.dicas * {
  box-sizing: border-box;
}
.dicas {
  background: #ffffff;
  padding: 10px;
  height: 1288px;
  position: relative;
  overflow: hidden;
}
.rectangle-3 {
  background: #000000;
  width: 700px;
  height: 203px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.freepik-logo-for-a-tech-school-a-binary-code-stream-cascad-82929-1 {
  width: 161px;
  height: 207px;
  position: absolute;
  left: 2px;
  top: -5px;
  object-fit: cover;
  aspect-ratio: 161/207;
}
.freepik-logo-for-a-tech-school-a-binary-code-stream-cascad-82929-2 {
  border-radius: 263px;
  width: 161.78px;
  height: 208px;
  position: absolute;
  left: 8px;
  top: -7px;
  object-fit: cover;
  aspect-ratio: 161.78/208;
}
.dicas2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 203px;
  top: 83px;
  width: 238px;
  height: 36px;
}
.rectangle-8 {
  background: #d9d9d9;
  width: 660px;
  height: 158px;
  position: absolute;
  left: 20px;
  top: 257px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
}
.rectangle-9 {
  background: #d9d9d9;
  width: 660px;
  height: 158px;
  position: absolute;
  left: 18px;
  top: 431px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
}
.rectangle-10 {
  background: #d9d9d9;
  width: 660px;
  height: 158px;
  position: absolute;
  left: 20px;
  top: 607px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
}
.rectangle-11 {
  background: #d9d9d9;
  width: 660px;
  height: 158px;
  position: absolute;
  left: 18px;
  top: 781px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
}
.rectangle-12 {
  background: #d9d9d9;
  width: 660px;
  height: 158px;
  position: absolute;
  left: 16px;
  top: 957px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
}
.group-22 {
  position: absolute;
  inset: 0;
}
.group-5 {
  width: 150px;
  height: 30px;
  position: static;
}
.group-1 {
  width: 150px;
  height: 30px;
  position: absolute;
  left: 18px;
  top: 214px;
  overflow: visible;
}
.voltar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 62px;
  top: 218px;
  width: 62px;
  height: 21px;
}
.pseudoc-digo-o-segredo-para-dominar-qualquer-linguagem-de-programa-o-voc-sabia-que-treinar-l-gica-com-pseudoc-digo-pode-acelerar-e-muito-o-seu-aprendizado-em-qualquer-linguagem-no-curso-dev-start-l-gica-de-programa-o-o-uso-do-pseudoc-digo-serve-como-uma-ponte-entre-o-racioc-nio-l-gico-e-a-codifica-o-real-publicado-em-09-04-2025 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 23px;
  top: 264px;
  width: 655px;
}
.pseudoc-digo-o-segredo-para-dominar-qualquer-linguagem-de-programa-o-voc-sabia-que-treinar-l-gica-com-pseudoc-digo-pode-acelerar-e-muito-o-seu-aprendizado-em-qualquer-linguagem-no-curso-dev-start-l-gica-de-programa-o-o-uso-do-pseudoc-digo-serve-como-uma-ponte-entre-o-racioc-nio-l-gico-e-a-codifica-o-real-publicado-em-09-04-2025-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.pseudoc-digo-o-segredo-para-dominar-qualquer-linguagem-de-programa-o-voc-sabia-que-treinar-l-gica-com-pseudoc-digo-pode-acelerar-e-muito-o-seu-aprendizado-em-qualquer-linguagem-no-curso-dev-start-l-gica-de-programa-o-o-uso-do-pseudoc-digo-serve-como-uma-ponte-entre-o-racioc-nio-l-gico-e-a-codifica-o-real-publicado-em-09-04-2025-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.html-sem-ntico-por-que-ele-melhora-o-seo-do-seu-site-quem-est-fazendo-o-curso-web-master-cria-o-de-sites-com-html-css-e-java-script-vai-gostar-de-saber-o-uso-correto-de-tags-sem-nticas-n-o-s-deixa-seu-c-digo-mais-limpo-como-ajuda-o-google-a-entender-do-que-seu-site-trata-publicado-em-09-04-2025 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 21px;
  top: 438px;
  width: 655px;
}
.html-sem-ntico-por-que-ele-melhora-o-seo-do-seu-site-quem-est-fazendo-o-curso-web-master-cria-o-de-sites-com-html-css-e-java-script-vai-gostar-de-saber-o-uso-correto-de-tags-sem-nticas-n-o-s-deixa-seu-c-digo-mais-limpo-como-ajuda-o-google-a-entender-do-que-seu-site-trata-publicado-em-09-04-2025-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.html-sem-ntico-por-que-ele-melhora-o-seo-do-seu-site-quem-est-fazendo-o-curso-web-master-cria-o-de-sites-com-html-css-e-java-script-vai-gostar-de-saber-o-uso-correto-de-tags-sem-nticas-n-o-s-deixa-seu-c-digo-mais-limpo-como-ajuda-o-google-a-entender-do-que-seu-site-trata-publicado-em-09-04-2025-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.evite-select-sua-aplica-o-agradece-no-curso-de-banco-de-dados-com-sql-server-uma-das-primeiras-boas-pr-ticas-aprendidas-evitar-o-comando-select-sempre-que-poss-vel-selecione-apenas-as-colunas-que-voc-realmente-precisa-al-m-de-mais-seguro-seu-sistema-vai-rodar-com-muito-mais-efici-ncia-publicado-em-09-04-2025 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 23px;
  top: 614px;
  width: 655px;
}
.evite-select-sua-aplica-o-agradece-no-curso-de-banco-de-dados-com-sql-server-uma-das-primeiras-boas-pr-ticas-aprendidas-evitar-o-comando-select-sempre-que-poss-vel-selecione-apenas-as-colunas-que-voc-realmente-precisa-al-m-de-mais-seguro-seu-sistema-vai-rodar-com-muito-mais-efici-ncia-publicado-em-09-04-2025-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.evite-select-sua-aplica-o-agradece-no-curso-de-banco-de-dados-com-sql-server-uma-das-primeiras-boas-pr-ticas-aprendidas-evitar-o-comando-select-sempre-que-poss-vel-selecione-apenas-as-colunas-que-voc-realmente-precisa-al-m-de-mais-seguro-seu-sistema-vai-rodar-com-muito-mais-efici-ncia-publicado-em-09-04-2025-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.aten-o-s-condi-es-em-java-script-nem-tudo-que-parece-vazio-igual-se-voc-est-aprendendo-java-script-no-curso-web-master-saiba-que-valores-como-false-0-null-undefined-e-na-n-s-o-todos-tratados-como-falsos-em-uma-condi-o-isso-significa-que-uma-estrutura-simples-como-if-valor-pode-n-o-funcionar-como-esperado-se-voc-n-o-estiver-atento-ao-que-est-sendo-testado-publicado-em-09-04-2025 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 21px;
  top: 788px;
  width: 655px;
}
.aten-o-s-condi-es-em-java-script-nem-tudo-que-parece-vazio-igual-se-voc-est-aprendendo-java-script-no-curso-web-master-saiba-que-valores-como-false-0-null-undefined-e-na-n-s-o-todos-tratados-como-falsos-em-uma-condi-o-isso-significa-que-uma-estrutura-simples-como-if-valor-pode-n-o-funcionar-como-esperado-se-voc-n-o-estiver-atento-ao-que-est-sendo-testado-publicado-em-09-04-2025-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.aten-o-s-condi-es-em-java-script-nem-tudo-que-parece-vazio-igual-se-voc-est-aprendendo-java-script-no-curso-web-master-saiba-que-valores-como-false-0-null-undefined-e-na-n-s-o-todos-tratados-como-falsos-em-uma-condi-o-isso-significa-que-uma-estrutura-simples-como-if-valor-pode-n-o-funcionar-como-esperado-se-voc-n-o-estiver-atento-ao-que-est-sendo-testado-publicado-em-09-04-2025-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.proteja-seu-banco-de-dados-evite-sql-injection-com-par-metros-sql-injection-uma-das-falhas-mais-exploradas-por-hackers-e-a-defesa-mais-simples-do-que-parece-use-par-metros-ao-montar-suas-queries-no-curso-banco-de-dados-com-sql-server-voc-aprende-a-substituir-a-concatena-o-de-strings-por-comandos-parametrizados-publicado-em-09-04-2025 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 19px;
  top: 964px;
  width: 655px;
}
.proteja-seu-banco-de-dados-evite-sql-injection-com-par-metros-sql-injection-uma-das-falhas-mais-exploradas-por-hackers-e-a-defesa-mais-simples-do-que-parece-use-par-metros-ao-montar-suas-queries-no-curso-banco-de-dados-com-sql-server-voc-aprende-a-substituir-a-concatena-o-de-strings-por-comandos-parametrizados-publicado-em-09-04-2025-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.proteja-seu-banco-de-dados-evite-sql-injection-com-par-metros-sql-injection-uma-das-falhas-mais-exploradas-por-hackers-e-a-defesa-mais-simples-do-que-parece-use-par-metros-ao-montar-suas-queries-no-curso-banco-de-dados-com-sql-server-voc-aprende-a-substituir-a-concatena-o-de-strings-por-comandos-parametrizados-publicado-em-09-04-2025-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.group-29 {
  position: absolute;
  inset: 0;
}
.rectangle-14 {
  background: #d9d9d9;
  width: 699px;
  height: 95px;
  position: absolute;
  left: 2px;
  top: 1193px;
}
.dev-site-gmail-com {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 270px;
  top: 1236px;
}
._17-99456-7890 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 278px;
  top: 1207px;
  width: 149px;
  height: 29px;
}
.ellipse-1 {
  background: #ffffff;
  border-radius: 50%;
  width: 109px;
  height: 108px;
  position: absolute;
  left: 571px;
  top: 47px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame {
  width: 109px;
  height: 106px;
  position: absolute;
  left: 571px;
  top: 49px;
  overflow: visible;
}
