.noticia-2,
.noticia-2 * {
  box-sizing: border-box;
}
.noticia-2 {
  background: #ffffff;
  padding: 10px;
  height: 840px;
  position: relative;
  overflow: hidden;
}
.o-diferencial-dessa-linguagem-est-na-facilidade-de-leitura-j-que-sua-estrutura-lembra-muito-o-portugu-s-isso-faz-com-que-aprender-a-programar-se-torne-menos-intimidador-e-mais-acess-vel-especialmente-para-quem-nunca-teve-contato-com-c-digo-antes-em-vez-de-se-perder-em-regras-complicadas-de-sintaxe-o-estudante-consegue-focar-no-racioc-nio-l-gico-entendendo-os-conceitos-essenciais-da-programa-o-de-forma-intuitiva-e-progressiva-al-m-disso-o-portugol-permite-criar-algoritmos-sem-a-complexidade-das-linguagens-tradicionais-tornando-o-aprendizado-mais-leve-e-direto-com-isso-o-aluno-ganha-confian-a-antes-de-partir-para-desafios-t-cnicos-mais-avan-ados-assim-o-portugol-se-destaca-como-uma-tima-porta-de-entrada-para-quem-deseja-dar-os-primeiros-passos-na-programa-o-este-guia-definitivo-explica-o-que-o-portugol-sua-import-ncia-suas-principais-caracter-sticas-e-como-voc-pode-come-ar-a-programar-utilizando-essa-linguagem-no-final-do-artigo-iremos-falar-tamb-m-do-programa-portugol-studio-nas-suas-vers-es-desktop-e-web {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 228px;
  top: 182px;
  width: 452px;
}
.group-13 {
  position: absolute;
  inset: 0;
}
.group-2 {
  width: 150px;
  height: 30px;
  position: static;
}
.group-1 {
  width: 150px;
  height: 30px;
  position: absolute;
  left: 530px;
  top: 638px;
  overflow: visible;
}
.voltar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 574px;
  top: 642px;
  width: 62px;
  height: 21px;
}
.rectangle-3 {
  background: #000000;
  width: 700px;
  height: 151px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.image-2 {
  width: 178px;
  height: 133px;
  position: absolute;
  left: 20px;
  top: 182px;
  object-fit: cover;
}
.freepik-logo-for-a-tech-school-a-binary-code-stream-cascad-82929-2 {
  border-radius: 263px;
  width: 71px;
  height: 92px;
  position: absolute;
  left: 20px;
  top: 14px;
  object-fit: cover;
  aspect-ratio: 71/92;
}
.o-que-a-linguagem-portugol-guia-definitivo {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 160px;
  top: 31px;
  width: 430px;
  height: 67px;
}
.group-16 {
  position: absolute;
  inset: 0;
}
.rectangle-14 {
  background: #d9d9d9;
  width: 699px;
  height: 95px;
  position: absolute;
  left: 0px;
  top: 745px;
}
.dev-site-gmail-com {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 268px;
  top: 788px;
}
._17-99456-7890 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 276px;
  top: 759px;
  width: 149px;
  height: 29px;
}
.ellipse-1 {
  background: #ffffff;
  border-radius: 50%;
  width: 97px;
  height: 96px;
  position: absolute;
  left: 587px;
  top: 28px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame {
  width: 97px;
  height: 94px;
  position: absolute;
  left: 587px;
  top: 30px;
  overflow: visible;
}
