.cursos,
.cursos * {
  box-sizing: border-box;
}
.cursos {
  background: #ffffff;
  padding: 10px;
  height: 1288px;
  position: relative;
  overflow: hidden;
}
.rectangle-3 {
  background: #000000;
  width: 700px;
  height: 203px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.image {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 320px;
  height: 272px;
  position: absolute;
  left: 20px;
  top: 248px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
  object-fit: cover;
}
.image2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 320px;
  height: 272px;
  position: absolute;
  left: 20px;
  top: 544px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
  object-fit: cover;
}
.image3 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 320px;
  height: 272px;
  position: absolute;
  left: 19px;
  top: 850px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
  object-fit: cover;
}
.rectangle-2 {
  background: #d9d9d9;
  width: 320px;
  height: 272px;
  position: absolute;
  left: 360px;
  top: 248px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
}
.rectangle-4 {
  background: #d9d9d9;
  width: 320px;
  height: 272px;
  position: absolute;
  left: 360px;
  top: 544px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
}
.rectangle-5 {
  background: #d9d9d9;
  width: 320px;
  height: 272px;
  position: absolute;
  left: 359px;
  top: 850px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
}
.cursos2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 206px;
  top: 74px;
  width: 169px;
  height: 43px;
}
.freepik-logo-for-a-tech-school-a-binary-code-stream-cascad-82929-1 {
  width: 161px;
  height: 207px;
  position: absolute;
  left: 2px;
  top: -5px;
  object-fit: cover;
  aspect-ratio: 161/207;
}
.freepik-logo-for-a-tech-school-a-binary-code-stream-cascad-82929-2 {
  border-radius: 263px;
  width: 161.78px;
  height: 208px;
  position: absolute;
  left: 10px;
  top: -6px;
  object-fit: cover;
  aspect-ratio: 161.78/208;
}
.dev-start-l-gica-de-programa-o-aprenda-os-fundamentos-da-l-gica-de-programa-o-com-exerc-cios-pr-ticos-em-pseudoc-digo-java-script-e-python-um-curso-essencial-para-quem-est-come-ando-na-rea-de-desenvolvimento {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  left: 363px;
  top: 248px;
  width: 314px;
  height: 272px;
}
.dev-start-l-gica-de-programa-o-aprenda-os-fundamentos-da-l-gica-de-programa-o-com-exerc-cios-pr-ticos-em-pseudoc-digo-java-script-e-python-um-curso-essencial-para-quem-est-come-ando-na-rea-de-desenvolvimento-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.dev-start-l-gica-de-programa-o-aprenda-os-fundamentos-da-l-gica-de-programa-o-com-exerc-cios-pr-ticos-em-pseudoc-digo-java-script-e-python-um-curso-essencial-para-quem-est-come-ando-na-rea-de-desenvolvimento-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.web-master-cria-o-de-sites-com-html-css-e-java-script-do-zero-ao-seu-primeiro-site-aprenda-a-estruturar-p-ginas-com-html-estilizar-com-css-e-adicionar-interatividade-com-java-script-inclui-projetos-pr-ticos-e-responsivos {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  left: 363px;
  top: 544px;
  width: 311px;
  height: 272px;
}
.web-master-cria-o-de-sites-com-html-css-e-java-script-do-zero-ao-seu-primeiro-site-aprenda-a-estruturar-p-ginas-com-html-estilizar-com-css-e-adicionar-interatividade-com-java-script-inclui-projetos-pr-ticos-e-responsivos-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.web-master-cria-o-de-sites-com-html-css-e-java-script-do-zero-ao-seu-primeiro-site-aprenda-a-estruturar-p-ginas-com-html-estilizar-com-css-e-adicionar-interatividade-com-java-script-inclui-projetos-pr-ticos-e-responsivos-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.banco-de-dados-com-sql-server-aprenda-a-criar-consultar-e-gerenciar-bancos-de-dados-relacionais-com-sql-server-o-curso-aborda-desde-a-cria-o-de-tabelas-at-joins-procedures-e-seguran-a-dos-dados {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  left: 362px;
  top: 850px;
  width: 315px;
  height: 272px;
}
.banco-de-dados-com-sql-server-aprenda-a-criar-consultar-e-gerenciar-bancos-de-dados-relacionais-com-sql-server-o-curso-aborda-desde-a-cria-o-de-tabelas-at-joins-procedures-e-seguran-a-dos-dados-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.banco-de-dados-com-sql-server-aprenda-a-criar-consultar-e-gerenciar-bancos-de-dados-relacionais-com-sql-server-o-curso-aborda-desde-a-cria-o-de-tabelas-at-joins-procedures-e-seguran-a-dos-dados-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.group-20 {
  position: absolute;
  inset: 0;
}
.group-5 {
  width: 150px;
  height: 30px;
  position: static;
}
.group-1 {
  width: 150px;
  height: 30px;
  position: absolute;
  left: 22px;
  top: 210px;
  overflow: visible;
}
.voltar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 66px;
  top: 214px;
  width: 62px;
  height: 21px;
}
.group-31 {
  position: absolute;
  inset: 0;
}
.group-19 {
  width: 699px;
  height: 95px;
  position: static;
}
.rectangle-14 {
  background: #d9d9d9;
  width: 699px;
  height: 95px;
  position: absolute;
  left: 0px;
  top: 1193px;
}
.dev-site-gmail-com {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 268px;
  top: 1236px;
}
._17-99456-7890 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 276px;
  top: 1207px;
  width: 149px;
  height: 29px;
}
.ellipse-1 {
  background: #ffffff;
  border-radius: 50%;
  width: 109px;
  height: 108px;
  position: absolute;
  left: 577px;
  top: 53px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame {
  width: 109px;
  height: 106px;
  position: absolute;
  left: 577px;
  top: 55px;
  overflow: visible;
}
