.noticia-3,
.noticia-3 * {
  box-sizing: border-box;
}
.noticia-3 {
  background: #ffffff;
  padding: 10px;
  height: 840px;
  position: relative;
  overflow: hidden;
}
.roadmap-para-aprender-programa-o-web-passo-a-passo-se-o-seu-objetivo-trabalhar-com-desenvolvimento-web-essencial-aprender-os-fundamentos-de-html-css-e-java-script-essas-tecnologias-s-o-a-base-para-quem-deseja-criar-sites-e-aplica-es-web-html-respons-vel-pela-estrutura-das-p-ginas-css-cuida-da-estiliza-o-e-do-design-enquanto-java-script-adiciona-interatividade-e-funcionalidades-din-micas-mas-antes-de-partir-para-o-java-script-necess-rio-entender-a-l-gica-de-programa-o-e-os-conceitos-fundamentais-que-servem-de-base-para-qualquer-linguagem-isso-inclui-aprender-sobre-estruturas-condicionais-la-os-de-repeti-o-vari-veis-tipos-de-dados-fun-es-e-modulariza-o-a-melhor-forma-de-estudar-l-gica-de-programa-o-praticar-com-exerc-cios-e-desafios-l-gicos-resolver-problemas-usando-fluxogramas-e-pseudoc-digo-pode-ajudar-para-aprender-esses-conceitos-da-melhor-forma-a-pr-tica-fundamental-criar-pequenos-projetos-como-p-ginas-pessoais-blogs-e-portf-lios-responsivos-ajuda-a-consolidar-o-aprendizado-e-a-desenvolver-um-portf-lio-desde-o-in-cio {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 228px;
  top: 182px;
  width: 452px;
}
.group-14 {
  position: absolute;
  inset: 0;
}
.group-3 {
  width: 150px;
  height: 30px;
  position: static;
}
.group-1 {
  width: 150px;
  height: 30px;
  position: absolute;
  left: 530px;
  top: 638px;
  overflow: visible;
}
.voltar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 574px;
  top: 642px;
  width: 62px;
  height: 21px;
}
.rectangle-3 {
  background: #000000;
  width: 700px;
  height: 151px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.freepik-logo-for-a-tech-school-a-binary-code-stream-cascad-82929-2 {
  border-radius: 263px;
  width: 71px;
  height: 92px;
  position: absolute;
  left: 20px;
  top: 14px;
  object-fit: cover;
  aspect-ratio: 71/92;
}
.self-onboarding-cpode-reduzir-custos-de-ti-em-at-20 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 102px;
  top: 31px;
  width: 484px;
  height: 80px;
}
.image-5 {
  width: 178px;
  height: 133px;
  position: absolute;
  left: 20px;
  top: 182px;
  object-fit: cover;
}
.group-15 {
  position: absolute;
  inset: 0;
}
.rectangle-14 {
  background: #d9d9d9;
  width: 699px;
  height: 95px;
  position: absolute;
  left: 0px;
  top: 744px;
}
.dev-site-gmail-com {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 268px;
  top: 787px;
}
._17-99456-7890 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 276px;
  top: 758px;
  width: 149px;
  height: 29px;
}
.ellipse-1 {
  background: #ffffff;
  border-radius: 50%;
  width: 97px;
  height: 96px;
  position: absolute;
  left: 598px;
  top: 18px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame {
  width: 97px;
  height: 94px;
  position: absolute;
  left: 598px;
  top: 19px;
  overflow: visible;
}
