.novidades,
.novidades * {
  box-sizing: border-box;
}
.novidades {
  background: #ffffff;
  padding: 10px;
  height: 1288px;
  position: relative;
  overflow: hidden;
}
.rectangle-3 {
  background: #000000;
  width: 700px;
  height: 203px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.novidades2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 191px;
  top: 77px;
  width: 238px;
  height: 36px;
}
.rectangle-8 {
  background: #d9d9d9;
  width: 319px;
  height: 285px;
  position: absolute;
  left: 360px;
  top: 248px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
}
.saiba-mais {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 268px;
  top: 777px;
}
.rectangle-9 {
  background: #d9d9d9;
  width: 320px;
  height: 285px;
  position: absolute;
  left: 356px;
  top: 563px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
}
.rectangle-10 {
  background: #d9d9d9;
  width: 320px;
  height: 285px;
  position: absolute;
  left: 360px;
  top: 881px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
}
.freepik-logo-for-a-tech-school-a-binary-code-stream-cascad-82929-1 {
  width: 161px;
  height: 207px;
  position: absolute;
  left: 2px;
  top: -5px;
  object-fit: cover;
  aspect-ratio: 161/207;
}
.freepik-logo-for-a-tech-school-a-binary-code-stream-cascad-82929-2 {
  border-radius: 263px;
  width: 161.78px;
  height: 208px;
  position: absolute;
  left: 8px;
  top: -5px;
  object-fit: cover;
  aspect-ratio: 161.78/208;
}
.image {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 326px;
  height: 285px;
  position: absolute;
  left: 20px;
  top: 248px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
  object-fit: cover;
}
.image2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 324px;
  height: 285px;
  position: absolute;
  left: 22px;
  top: 563px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
  object-fit: cover;
}
.image3 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 320px;
  height: 285px;
  position: absolute;
  left: 26px;
  top: 881px;
  box-shadow: var(--teste-box-shadow, 0px 7px 4px 0px rgba(0, 0, 0, 0.25));
  object-fit: cover;
}
.group-21 {
  position: absolute;
  inset: 0;
}
.group-5 {
  width: 150px;
  height: 30px;
  position: static;
}
.group-1 {
  width: 150px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 210px;
  overflow: visible;
}
.voltar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 64px;
  top: 214px;
  width: 62px;
  height: 21px;
}
.novidade-curso-dev-start-l-gica-de-programa-o-dispon-vel-na-plataforma-voc-est-come-ando-no-mundo-da-programa-o-o-dev-start-o-ponto-de-partida-ideal-esse-curso-foi-desenvolvido-para-iniciantes-que-desejam-entender-como-os-computadores-pensam-atrav-s-da-l-gica-de-programa-o-publicado-em-09-04-2025 {
  color: #000000;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 366px;
  top: 252px;
  width: 309px;
  height: 272px;
}
.novidade-curso-dev-start-l-gica-de-programa-o-dispon-vel-na-plataforma-voc-est-come-ando-no-mundo-da-programa-o-o-dev-start-o-ponto-de-partida-ideal-esse-curso-foi-desenvolvido-para-iniciantes-que-desejam-entender-como-os-computadores-pensam-atrav-s-da-l-gica-de-programa-o-publicado-em-09-04-2025-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.novidade-curso-dev-start-l-gica-de-programa-o-dispon-vel-na-plataforma-voc-est-come-ando-no-mundo-da-programa-o-o-dev-start-o-ponto-de-partida-ideal-esse-curso-foi-desenvolvido-para-iniciantes-que-desejam-entender-como-os-computadores-pensam-atrav-s-da-l-gica-de-programa-o-publicado-em-09-04-2025-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.atualiza-o-web-master-agora-com-m-dulo-de-design-responsivo-o-curso-web-master-voltado-cria-o-de-sites-com-html-css-e-java-script-acaba-de-ganhar-um-m-dulo-extra-sobre-design-responsivo-agora-voc-vai-aprender-como-fazer-p-ginas-que-se-adaptam-a-qualquer-tela-oferecendo-uma-tima-experi-ncia-para-usu-rios-em-smartphones-tablets-e-desktops-publicado-em-08-04-2025 {
  color: #000000;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 362px;
  top: 567px;
  width: 306px;
  height: 272px;
}
.atualiza-o-web-master-agora-com-m-dulo-de-design-responsivo-o-curso-web-master-voltado-cria-o-de-sites-com-html-css-e-java-script-acaba-de-ganhar-um-m-dulo-extra-sobre-design-responsivo-agora-voc-vai-aprender-como-fazer-p-ginas-que-se-adaptam-a-qualquer-tela-oferecendo-uma-tima-experi-ncia-para-usu-rios-em-smartphones-tablets-e-desktops-publicado-em-08-04-2025-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.atualiza-o-web-master-agora-com-m-dulo-de-design-responsivo-o-curso-web-master-voltado-cria-o-de-sites-com-html-css-e-java-script-acaba-de-ganhar-um-m-dulo-extra-sobre-design-responsivo-agora-voc-vai-aprender-como-fazer-p-ginas-que-se-adaptam-a-qualquer-tela-oferecendo-uma-tima-experi-ncia-para-usu-rios-em-smartphones-tablets-e-desktops-publicado-em-08-04-2025-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.conte-do-extra-banco-de-dados-com-sql-server-recebe-novo-projeto-pr-tico-o-curso-banco-de-dados-com-sql-server-foi-atualizado-com-um-novo-projeto-pr-tico-do-mundo-real-agora-al-m-de-aprender-teoria-e-comandos-sql-voc-poder-construir-um-sistema-completo-de-cadastro-de-usu-rios-com-foco-em-seguran-a-e-boas-pr-ticas-publicado-em-07-04-2025 {
  color: #000000;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 366px;
  top: 889px;
  width: 306px;
  height: 272px;
}
.conte-do-extra-banco-de-dados-com-sql-server-recebe-novo-projeto-pr-tico-o-curso-banco-de-dados-com-sql-server-foi-atualizado-com-um-novo-projeto-pr-tico-do-mundo-real-agora-al-m-de-aprender-teoria-e-comandos-sql-voc-poder-construir-um-sistema-completo-de-cadastro-de-usu-rios-com-foco-em-seguran-a-e-boas-pr-ticas-publicado-em-07-04-2025-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.conte-do-extra-banco-de-dados-com-sql-server-recebe-novo-projeto-pr-tico-o-curso-banco-de-dados-com-sql-server-foi-atualizado-com-um-novo-projeto-pr-tico-do-mundo-real-agora-al-m-de-aprender-teoria-e-comandos-sql-voc-poder-construir-um-sistema-completo-de-cadastro-de-usu-rios-com-foco-em-seguran-a-e-boas-pr-ticas-publicado-em-07-04-2025-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.group-30 {
  position: absolute;
  inset: 0;
}
.rectangle-14 {
  background: #d9d9d9;
  width: 699px;
  height: 95px;
  position: absolute;
  left: 1px;
  top: 1193px;
}
.dev-site-gmail-com {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 269px;
  top: 1236px;
}
._17-99456-7890 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 277px;
  top: 1207px;
  width: 149px;
  height: 29px;
}
.ellipse-1 {
  background: #ffffff;
  border-radius: 50%;
  width: 109px;
  height: 108px;
  position: absolute;
  left: 571px;
  top: 47px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame {
  width: 109px;
  height: 106px;
  position: absolute;
  left: 571px;
  top: 49px;
  overflow: visible;
}
