.login,
.login * {
  box-sizing: border-box;
}
.login {
  background: #ffffff;
  padding: 10px;
  height: 918px;
  position: relative;
  overflow: hidden;
}
.login2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 268px;
  top: 233px;
}
.rectangle-15 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 416px;
  height: 35px;
  position: absolute;
  left: 143px;
  top: 360px;
}
.rectangle-16 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 416px;
  height: 35px;
  position: absolute;
  left: 143px;
  top: 452px;
}
.email {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 143px;
  top: 336px;
  width: 62px;
}
.senha {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 143px;
  top: 428px;
  width: 69px;
}
.group-28 {
  position: absolute;
  inset: 0;
}
.rectangle-17 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 143px;
  top: 528px;
}
.lembre-se-de-mim {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 183px;
  top: 532px;
  width: 141px;
  height: 21px;
}
.esqueceu-a-senha {
  color: #0400ff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 406px;
  top: 533px;
}
.group-23 {
  position: absolute;
  inset: 0;
}
.rectangle-18 {
  background: #000000;
  width: 416px;
  height: 56px;
  position: absolute;
  left: 143px;
  top: 581px;
}
.entrar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 297px;
  top: 590px;
}
.n-o-tem-uma-conta {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 143px;
  top: 671px;
}
.cadastre-se {
  color: #0400ff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 324px;
  top: 671px;
}
