.noticia-1,
.noticia-1 * {
  box-sizing: border-box;
}
.noticia-1 {
  background: #ffffff;
  padding: 10px;
  height: 840px;
  position: relative;
  overflow: hidden;
}
.a-tecnologia-da-informa-o-ti-um-dos-pilares-fundamentais-da-era-digital-desempenhando-um-papel-estrat-gico-na-inova-o-automa-o-e-otimiza-o-de-processos-em-empresas-e-na-sociedade-ela-engloba-um-amplo-conjunto-de-recursos-tecnol-gicos-e-computacionais-utilizados-para-a-coleta-armazenamento-processamento-e-transmiss-o-de-dados-promovendo-efici-ncia-seguran-a-e-intelig-ncia-nas-opera-es-desde-a-infraestrutura-de-hardware-e-software-at-a-ciberseguran-a-e-a-computa-o-em-nuvem-a-ti-impulsiona-a-transforma-o-digital-e-a-tomada-de-decis-es-baseadas-em-dados-seu-impacto-se-estende-a-diversos-setores-como-sa-de-educa-o-finan-as-e-ind-stria-tornando-se-essencial-para-a-competitividade-e-o-crescimento-sustent-vel-das-organiza-es-no-cen-rio-global-a-programa-o-tem-um-papel-central-na-ti-pois-permite-o-desenvolvimento-de-sistemas-aplicativos-e-solu-es-tecnol-gicas-que-impulsionam-a-inova-o-e-a-automa-o-neste-artigo-exploraremos-os-benef-cios-da-tecnologia-da-informa-o-o-papel-fundamental-da-programa-o-nesse-contexto-suas-principais-caracter-sticas-os-conhecimentos-mais-demandados-no-mercado-e-a-import-ncia-de-se-especializar-nessa-rea-em-constante-evolu-o {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 217px;
  top: 182px;
  width: 463px;
}
.group-12 {
  position: absolute;
  inset: 0;
}
.group-4 {
  width: 150px;
  height: 30px;
  position: static;
}
.group-1 {
  width: 150px;
  height: 30px;
  position: absolute;
  left: 530px;
  top: 638px;
  overflow: visible;
}
.voltar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 574px;
  top: 642px;
  width: 62px;
  height: 21px;
}
.rectangle-3 {
  background: #000000;
  width: 700px;
  height: 151px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.image-4 {
  width: 177.33px;
  height: 133px;
  position: absolute;
  left: 20px;
  top: 182px;
  object-fit: cover;
  aspect-ratio: 177.33/133;
}
.freepik-logo-for-a-tech-school-a-binary-code-stream-cascad-82929-2 {
  border-radius: 263px;
  width: 71px;
  height: 92px;
  position: absolute;
  left: 20px;
  top: 14px;
  object-fit: cover;
  aspect-ratio: 71/92;
}
.o-que-a-tecnologia-da-informa-o {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 160px;
  top: 26px;
  width: 430px;
  height: 67px;
}
.group-17 {
  position: absolute;
  inset: 0;
}
.rectangle-14 {
  background: #d9d9d9;
  width: 699px;
  height: 95px;
  position: absolute;
  left: 0px;
  top: 745px;
}
.dev-site-gmail-com {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 268px;
  top: 788px;
}
._17-99456-7890 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 276px;
  top: 759px;
  width: 149px;
  height: 29px;
}
.ellipse-1 {
  background: #ffffff;
  border-radius: 50%;
  width: 97px;
  height: 96px;
  position: absolute;
  left: 583px;
  top: 26px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame {
  width: 97px;
  height: 94px;
  position: absolute;
  left: 583px;
  top: 28px;
  overflow: visible;
}
